{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 >Search YouTube</h1>

    <div class="form">
        <form action="/scrape" method="POST">
            <input class="form-control" type="text" name="content" id="content">
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}